<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Dima/Desktop/RestAssuredProject">
        <classes>
            <class name="regresIN.CreateUser">
                <methods>
                    <include name="CreateUserV1Test"/>
                    <include name="CreateUserV2Test"/>
                </methods>
            </class>
            <class name="regresIN.DeleteUser">
                <methods>
                    <include name="deleteUserTest"/>
                </methods>
            </class>
            <class name="regresIN.UpdateUser">
                <methods>
                    <include name="updateUserTest"/>
                </methods>
            </class>
            <class name="regresIN.getUsers">
                <methods>
                    <include name="getUsersV2Test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>